.gameScreen{
    display: none;
    flex-flow: column wrap;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    background-image: url("../assets/images/background/BlackjackTable.png");
    background-size: 100% 100%;
}

.poker{
    width: 80px;
    height: 130px;
    cursor: pointer;
    margin: 5px;
}

.dealer{
    padding-top: 30px;
}

.player{
    display: flex;
    padding-top: 0px;
}

.playerInformation{
    margin-top: 10px;
    display: flex;
    cursor: pointer;
    width: fit-content;
    align-items: center;
}

.betAndName{
    background-color: #3a4f41;
    height: 60px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    align-items: center;
    margin-right: 5px;
    padding-right: 8px;
}

.bet{
    margin-left: 10px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 150px;
    height: 10px;
    border-radius: 10px;
    background-color: #6b0f1a;
    
}

.bet img{
    width: 20px;
}

.playerInformation>img{
    width: 50px;
}

.gameButton{
    font-size: 100px;
    font-weight: bold;
    display: flex;
}

.gameButton div{
    color: white;
    display: flex;
    margin: 10px;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 100%;
    background-color: #6b0f1a;
}

.gameButton div:hover{
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    transition: 0.5s;
    border: 10px solid rgb(150, 5, 5);
}

.active{
    border: 3px solid firebrick;
    box-sizing: border-box;
}

.pokerPosition{
    margin-left: 5px;
    margin-right: 5px;
}

.betmoney{
    padding-top: 30px;
    width: 200px;
    font-weight: bold;
    margin-right: 20px;
}

.endScreen{
    display: none;
}

.endScreen .game{
    position: fixed;
    top: 50%;
    right: 50%;
    cursor: pointer;
    width: 210px;
    height: 200px;
}

.endText{
    position: fixed;
    width: fit-content;
    font-size: 25px;
    bottom: 20px;
    margin-top: 10px;
    font-weight: bold;
    right: 230px;
    color: #FFD700;
}

.endScreen .Blackjack{
    transform: translate(-25%, -72%);
    width: 800px;
}

.WINORLOSE{
    position: fixed;
    top: 0px;
    font-size: 200px;
    right: 0px;
    cursor: pointer;
    color: #FFD700;
}

.history{
    cursor: pointer;
    font-weight: bold;
    line-height: 30px;
    width: 100%;
    box-sizing: border-box;
    height: fit-content;
}

.history{
    text-align: center;
}

.tableBTN{
    cursor: pointer;
    font-weight: bold;
    border-top: none;
    width: 100%;
}

.tableContainer{
    position: fixed;
    top: 0px;
    margin-left: 10px;
    left: 0px;
    margin-top: 10px;
    border: 5px solid rgb(150, 5, 5);
    height: fit-content;
    width: 30%;
    z-index: 10;
}

.tableContainerCenter{
    position: fixed;
    top: 0px;
    margin-left: 10px;
    left: 0px;
    margin-top: 10px;
    border: 5px solid rgb(150, 5, 5);
    height: 300px;
    overflow-y: scroll;
    width: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #6b0f1a;
    z-index: 100;
}

.cover{
    display: none;
    z-index: 10;
    width: 100%;
    height: 100%;
}

.tableCloseBTN, .tableClearBTN{
    cursor: pointer;
    width: 100%;
    font-weight: bold;
}

.tableClearBTN{
    margin-top: 20px;
    color: red;
}

.advertisementClose{
    display: none;
    position: fixed;
    right: 0px;
    bottom: 190px;
    cursor: pointer;
    z-index: 100;
}

.advertisement{
    z-index: 100;
    cursor: pointer;
    transition: 1s;
    display: none;
    position: fixed;
    right: 0px;
    bottom: 0px;
    width: 210px;
    height: 210px;
    background-image: url("/assets/images/background/advertisement1.png");
    background-size: 100% 100%;
}